body{
  overflow-x: hidden;
}

.blue{
  color:#05b0ff;
}

/* <!---START of Home----> */
.homeStart{
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -1;
  padding-bottom: 25px;

}
.navigationer{
  width: 100%;
  max-width: 100%;
  font-family: "Arial", sans-serif;
  font-size:20px;
  font-weight: 400;
  padding: 0 15px;
  z-index:13123213;
  position: absolute;
  float: right;
}

.home .navigationer{
  text-shadow: .1rem .1rem .3rem black;
}
.navaro a, .navaro a:hover, .navaro:active, .navaro{
  color:#05b0ff;
    padding: 0 10px;
}

.homeControl{
  position: absolute;
  background-image: url("../images/bg.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(15,15,15,1);
}


.imagemove{
  opacity: 1;
  position: absolute;
  background-image: url("../images/speedwagonfull4.png");
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height:100%;
  max-height: 100%;
  z-index: 1000000;
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  animation-name: Show;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}





.Details{
  opacity:0;
  color:white;
  position: absolute;
  z-index: 1;
  top: 38%;
  width: 100%;
  max-width: 100%;
  text-shadow: .1rem .1rem .5rem black;
  font-family: "Alatsi",sans-serif;
  animation-name: Show;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
/*
.Details div .btn{
  margin-right: 1rem;
  border-color: #011291;
  border-width: 3px;
  text-transform: uppercase;
}
.Details >div{
  opacity: 0;
  animation-name: Show;
  animation-delay: 6s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.btn-primary{
  background-color: #011291;
}
.btn-primary:hover{
  background-color: #000845;
  border-color: #000845
}
.btn-outline-primary{
  color:#fff;
} */




/* KEYFRAMES */
@keyframes Show {
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
/* END OF KEYFRAMES */
/* <!---END of Moving----> */
/* <!---END of Home----> */

/* <!---START of AboutMe----> */
.AboutMe div > img{
  border-radius: 50%;
}
.AboutMe  .row{
  margin-bottom: 1rem;
}
/* <!---END of AboutMe----> */

.imagez img{
  width:100%;
}
.imagez{
  text-align: center;
}

/* <!---START of Projects----> */

.marginz{
  margin-bottom: 3rem;
}
.landing{
  background-image: url("../images/projectsbg3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
  height: 50vh;
}
.caption{
  transform: translateY(150%);
  width: 100%;
  color:white;
  text-shadow: .1rem .1rem .5rem black;
}
.bgoverlay{
  height:100%;
  background-size: cover;
  background: rgba(10, 10, 10, 0.7);
}
.intro{
  padding-top: 50px;
  height:50vh;
  width:100%;
  color:white;
}
.imageP img{
  border-radius: 50%;
  width:13%;
  max-width: 13%;
}

.introText h3, .introText h5, .imageP{
  padding-bottom: 10px;
}

.introText h5{
  line-height: 20px;
}

.projintro{
  height: 50vh;
  background-color: white;
  color:white;
  padding-top: 50px;
  background-image: url("../images/randombnw.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.projText{
  transform: translateY(50%);
}
hr.white{
  border: 1px solid white;
  width: 15%;
}

/* <!---Start ListProj---> */
/* <!---SIDEBAR---> */
.sidebar{
  position: sticky!important;
  position: -webkit-sticky!important;
  padding-top: 75px;
  padding-right: 0;
  top:0;
  width:19%;
  max-width: 19%;
  float: left;
}

.nav-pills > li > a, .navbar-brand{
  color:rgba(10,10,10,1);
}
.navbar-brand{
  font-size: 30px;
  font-weight: bold;
  color:rgba(20,20,20,1);
}
.navbar-brand:hover{
  text-decoration: underline;
  color:rgba(20,20,20,1);
}
.nav-pills .nav-link:hover, .nav-pills .nav-link.active, .nav-pills .nav-link:focus{
  color:white!important;
  background-color: black!important;
  transition: all 1s ease-in-out;
}
.nav-item, .navbar-brand{
  padding: 5px 5px;
  text-shadow: .1rem .1rem .5rem white;
  transition: all 1s ease-in-out;
}

/* <!--- END SIDEBAR---> */

#proj0,#proj1,#projx{
  height: 150vh;
  width:100%;
}

.projslist{
  padding: 0;
  width: 100%;
  max-width: 100%;
  color:white;
}

/* <!--- PROJECT0---> */
#proj0{
  background-color: white;
}
.Project0{
  padding-top: 75px;
}
.projImage{

}
/* <!--- END PROJECT0---> */
/* <!--- PROJECT1---> */
#proj1{
  background-color: black;
}
/* <!--- END PROJECT0---> */
/* <!--- PROJECTx---> */
#projx{
  background-color: white;
}

/* <!--- END PROJECT0---> */



/* <!---End ListProj---> */
/* <!---END of Projects----> */

/* <!---START of Contacts----> */
.landingContacts{
  background-image: url("../images/contactbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
  height: 50vh;
}
.captionContacts{
  transform: translateY(150%);
  width: 100%;
  color:white;
  text-shadow: .1rem .1rem .5rem black;
}
.bgoverlayContacts{
  height:100%;
  background-size: cover;
  background: rgba(31, 31, 31, 0.4);
}

.introContacts{
  height:50vh;
  padding-bottom: 500px;
}
/* <!--- ContactList---> */
.contact{
  height: 100vh;
}
.contactInfo,.contactDetails{
  height: 100vh;
}
.contactInfo{
  background-color: blue;
}
.contactDetails{
  background-color: white;
  max-height: 100%;
  overflow-y: scroll;
  /* height:100%;
  max-height: 100%; */
}

/* <!---About---> */
.AboutMe  .navaro a, .AboutMe  .navaro a:hover, .AboutMe .navaro{
  color:white;
}

.AboutMe .navaro a:hover{
  text-decoration: underline;
  color: black;
  text-shadow: .1rem .1rem .5rem black;
}

.AboutMe{
  background-color: #05b0ff;
  color: white;
  background-image: url("../images/speedgang.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.AboutCaption{
font-family: 'Dancing Script', cursive;
  font-size: 7rem;
  font-weight: 500;
  color:white;
  text-shadow: .1rem .1rem .3rem black;
  transform: translateY(120%);
  width:100%;
  max-width: 100%;
}
/* <!--- END About---> */

/* <!--- Start Projects---> */
.Projecto  .navaro a, .Projecto  .navaro a:hover, .Projecto .navaro{
  color:black;
}

.Projecto  .navaro a:hover{
  text-decoration: underline;
  color: #05b0ff;
  text-shadow: .1rem .1rem .5rem white;
}

.Projecto{
  background-color: #fff;
  color: black;
  background-image: url("../images/speedjoj.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.ProjectoCaption{
  font-family: 'Dancing Script', cursive;
    font-size: 7rem;
    font-weight: 500;
    color:black;
    /* transform: translateY(150%); */
    width:100%;
    max-width: 100%;
}

/* <!---start of Contacts----> */

.Contacto  .navaro a, .Contacto  .navaro a:hover, .Contacto .navaro{
  color:white;
}

.Contacto  .navaro a:hover{
  text-decoration: underline;
  color: #05b0ff;
  text-shadow: .1rem .1rem .5rem white;
}

.Contacto{
  background-color: #000;
  color: white;
  background-image: url("../images/speedhatoff.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.ContactoCaption{
  font-family: 'Dancing Script', cursive;
    font-size: 7rem;
    font-weight: 500;
    color:white;
    /* transform: translateY(150%); */
    width:100%;
    max-width: 100%;
}
/* <!---END of Contacts----> */
/* <!--- END PROJECTS---> */
/* .captionContactsLs{
  transform: translateY(500%);
  width: 100%;
  color:white;
  text-shadow: .1rem .1rem .5rem black;
}
.fire{
  background-image: url("../images/firebg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.fireRed{
  background-color: #470000;
  color: #b35050;
  height:100vh;
} */

/* <!--- END ContactList---> */
/* <!---END of Contacts----> */

/* <!---START of Footer----> */
footer{
  background-color: black;
  color:white;
  margin-bottom: 0!important;
  margin-top:0!important;
  padding-bottom: 0!important;
  padding-top: 0!important;
}
footer img{
  height: 30%;
}

footer a{
  font-size: 200%;
  color: white;
}
footer hr{
  color:white;
}
/* <!---END of Footer----> */

/* <!---START of Media Queries----> */
@media (max-width: 768px){
    .Details h1{
      font-size: 1.8rem!important;
    }
    .Details p{
      font-size: 1rem!important;
    }
    .Details div >a{
      font-size: 0.8rem!important;
    }
    .imagez img{
      max-width: 50%;
    }
}
